<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487228785701-icmfq0if47ifv024c9j93a2is4sl4s2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487228785701-icmfq0if47ifv024c9j93a2is4sl4s2r</string>
	<key>API_KEY</key>
	<string>AIzaSyDCupw6u6a-R7Zk0ZytrFHCnY04HZYc3BA</string>
	<key>GCM_SENDER_ID</key>
	<string>487228785701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>west-bank-gsk</string>
	<key>STORAGE_BUCKET</key>
	<string>west-bank-gsk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487228785701:ios:6ef2f2e68079fee70dabcc</string>
</dict>
</plist>